---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ site.title }} / {{ site.tagline }}</title>
	<meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
	<meta name="keywords" content="{{ site.keywords }}">
	{% include head.html %}
	{% seo %}
</head>
<body>
	{% include header.html %}
	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About</h2>
				<p>Where to buy Asian food near you, an EU directory of directories. Support your local Asian business facing undue racism and discrmination! Submissions welcome.</p>
			</div>
		</section>
		<section class="projects">
			<div class="container">
				<h2>EU Asian Community Resources</h2>
				<ul class="projects-list">
					{% for item in site.categories.projects %}
                     {% if item.tags contains 'eu' %}
						<li>
							<a href="{{ item.url | prepend: site.baseurl }}">
								<div class="img-wrapper">
									<img src="{{ item.project.logo | prepend: site.baseurl }}" alt="{{ item.project.title }}" />
								</div>
								<span class="h2">{{ item.project.location }}</span>
								<h3>{{ item.project.title }}</h3>
							</a>
						</li>
                     {% endif %}
					{% endfor %}
				</ul>
			</div>
		</section>
	</main>
	{% include footer.html %}
	<script src="{{ "/assets/scripts/vendor/scrollreveal.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/assets/scripts/home.js" | prepend: site.baseurl }}"></script>
</body>
</html>