<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a>
		</section>
		<section class="follow">
			<h2>More Info</h2>
			  <ul>
<!--            <li><a title="Twitter" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Twitter" href="{{ site.twitter }}" target="_blank">Twitter</a></li> -->
                <li><a title="About" href="/about.html" >About</a></li>
				<li><a title="Github" href="{{ site.github }}" target="_blank">Github</a></li>
			 </ul>
		</section>
        <section class="follow">
			<h2>Contribute</h2>
              <ul>
                <a class="typeform-share button" href="https://covidsubmissions.typeform.com/to/aZPwcn" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#4FA9B3;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:14px;line-height:35px;text-align:center;margin:0;height:35px;padding:0px 23px;border-radius:8px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Add yours </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
              </ul>
		</section>
	</div>
</footer>