---
---

@charset "UTF-8";

@import "variables";
@import "mixins";
@import "normalize";
@import "fonts";
@import "core";
@import "layout";
@import "syntax";

h2,
.h2,
.projects-list .img-wrapper:before {
  color: #545454;
  font-size: 1.5rem;
  letterspacing: 0.1rem;
}
.projects-list span {
  margin: 2rem 0 0.5rem;
}
.projects-list li {
  margin-bottom: 6rem;
}
